/* ==========================================================================
   #HEADER
   ========================================================================== */

/* Logos
========================================================================== */

.c-header__logos {

  position: relative;
  z-index: 2;
}

/* Soldat logo */
.c-header__logo {

  display: inline-block;
  width: 17.5rem;
  height: 3.875rem;
  float: left;
  margin-top: 2.5rem;
  position: relative;
  box-sizing: content-box;
  transition: $global-transition;

  /* animated line */
  &:before {

    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    border-left: 0.0625rem solid #fff;
    height: 0;
  }
}

.c-header__logo-inner {
  transition: $global-transition;
  width: 100%;
  height: 100%;
  fill: $color-red;
}

/* THD Logo */
.c-header__thd {
  display: inline-block;
  opacity: 0;
  float: left;
  width: 6.1875rem;
  margin: 1.25rem -6.1875rem 0 0;
  padding-right: 0.5625rem;
  height: 2rem;
  fill: #fff;
}

/* Active */

@mixin c-header__logo-active {
  .c-header__logo {
    margin: 1.25rem 0 0 0;
    width: 8.125rem;
    height: 1.8125rem;
    padding-left: 0.5625rem;
    animation: c-header-logo 1ms linear 0.7s 1 normal forwards;

    /* animated line */
    &:before {
      animation: c-header-line 0.3s linear 0.4s 1 normal forwards;
    }
  }

  .c-header__logo-inner {
    fill: $color-white;

    &:hover {
      fill: $color-red;
    }
  }

  /* THD logo */
  .c-header__thd {
    animation: header-thd 0.3s linear 0.7s 1 normal forwards;
  }
}

@keyframes c-header-line {
  0% {
    top: 0.9rem;
    height: 0;
  }

  100% {
    top: 0;
    height: 1.8125rem;
  }
}

@keyframes c-header-logo {
  0% {
    background: transparent;
  }

  100% {
    background: $color-black;
  }
}

@keyframes header-thd {
  0% {
    margin-right: -6.1875rem;
  }

  100% {
    margin-right: 0;
    opacity: 1;
  }
}

/* Navigation
========================================================================== */

.c-header__navigation {

  float: right;
  margin-top: 2rem;
  transition: $global-transition;
}

.c-header__list {

  position: relative;
  flex-direction: row;
  transform: none;
  padding: 0;
  margin: 0;
  width: auto;
  transition: none;
  background: none;
  z-index: 2;
  list-style: none;
  display: flex;
}

.c-header__list-el {

  padding: 0 0 0 1.25rem;
}

.c-header__link {

  text-decoration: none;
  text-transform: uppercase;
  color: $color-white;
  font-size: 0.9375rem;
  position: relative;

  &:after {

    content: '';
    transition: $global-transition;
    display: block;
    width: 1rem;
    max-width: 100%;
    height: 0.07rem;
    background-color: $color-blue;
    margin: 0.5rem auto 0;
    position: absolute;
    opacity: 0;
    bottom: -0.625rem;
    left: 0;
    right: 0;
  }

  &.is-active,
  &:hover {

    color: $color-blue;

    &:after {

      opacity: 1;
      width: 100%;
    }
  }
}

.c-header__hamburger {

  display: none;
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  top: 1.625rem;
  right: 1.5rem;
  height: 1.375rem;
  width: 1.375rem;
}

.c-header__hamburger-line {
  transition: all 0.3s;
  box-sizing: border-box;
  height: 0.1875rem;
  width: 100%;
  background-color: #fff;
  display: block;
  position: relative;
  float: left;
  margin-top: 0.1875rem;
}

.c-header__toggle {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;

  &:checked ~ .c-header__list {
    transform: translateX(0);
  }

  &:checked ~ .c-header__hamburger .c-header__hamburger-line {
    &--1 {
      transform: rotate(135deg);
      margin-top: 0.5rem;
    }

    &--2 {
      opacity: 0;
    }

    &--3 {
      transform: rotate(-135deg);
      margin-top: -0.5625rem;
    }
  }
}

/* Active */

@mixin c-header__navigation-active($hidden-menu: false) {

  @if ($hidden-menu) {
    .c-header__list {

      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      flex-direction: column;
      margin: 0.0625rem 0 0 0;
      padding: 1rem 0;
      transform: translateY(-101%);
      transition: transform $global-transition-duration $global-transition-easing;
      background: $color-black;
      z-index: 0;
      border-bottom: 0.0625rem solid $color-dark-violet;
    }

    .c-header__list-el {

      position: relative;
      padding: 1rem 2rem;
      margin: 0;
    }

    .c-header__link {
      position: static;
    }

    .c-header__link:after {
      height: 100%;
      width: 0.07rem;
      bottom: auto;
      left: 0;
      top: 0;
      right: auto;
      margin: 0;
    }

    .c-header__hamburger {
      display: block;
    }
  }
  @else {
    .c-header__navigation {
      margin-top: 1.5rem;
    }

    .c-header__link {

      color: #fff;

      &:after {
        bottom: -1.45rem;
      }

      &.is-active,
      &:hover {
        color: $color-blue;
      }
    }
  }
}

/* Bar
========================================================================== */

@mixin c-header-active($hidden-menu: false) {

  background: $color-black;
  border-bottom: 0.0625rem solid $color-dark-grey;
  height: 4.375rem;

  @include c-header__navigation-active($hidden-menu);
  @include c-header__logo-active;

  &:before {

    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-black;
    z-index: 1;
  }
}

.c-header {

  width: 100%;
  height: 6.25rem;
  position: fixed;
  top: 0;
  padding: 0 1.5rem;
  z-index: 999;
  transition: $global-transition;
  border-bottom: 0 solid $color-dark-grey;

  @include bp(medium) {
    padding: 0 3rem;

    .no-js &:not(.is-active) {
      position: absolute;
    }
  }

  @include bp(medium down) {
    @include c-header-active(true);
  }

  body:not(.no-js) &.is-active,
  body:not(.no-js) .c-layout:not(.home) & {
    @include c-header-active;
  }
}
