/* ==========================================================================
   #HOME HERO
   ========================================================================== */

.c-home-hero {

  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 100vh;

  @include bp(medium) {
    height: 100vh;
    min-height: 49vw;
  }

  @include bp(portrait) {
    min-height: unset;
    height: auto;
  }

  @include bp(small down) {
    height: 100vh;
    display: flex;
    align-items: center;
  }
}

/* Content
========================================================================== */

.c-home-hero__content {

  float: left;
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 6rem 1.5rem 0.5rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  @include bp(small) {
    padding: 10rem 3rem 3rem;
    align-items: flex-start;
  }

  @include bp(medium) {
    padding: 17rem 3rem 3rem;
    position: absolute;
    bottom: 0;
  }
}

.c-home-hero__heading {

  font-weight: bold;

  strong {
    color: $color-red;
  }

  @include bp(small down) {
    text-align: center;
  }

  @include bp(xsmall down) {
    br {
      display: none;
    }
  }
}

.c-home-hero__text {

  font-size: 0.875rem;
  margin-bottom: 4rem;


  @include bp(small down) {
    text-align: center;
  }
}

.c-home-hero__heading span,
.c-home-hero__text {

  padding-left: 6rem;

  @include bp(medium down) {
    padding-left: 0;
  }
}

/* Buttons */

.c-home-hero__buttons {

  width: 20.6875rem;
  display: flex;
  flex-direction: column;
}


.c-home-hero__trailer-link {

  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 4rem;
  width: 11rem;
  text-align: center;
  text-transform: uppercase;
  color: $color-medium-grey;
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: $color-white;
  }

  @include bp(medium down) {

    display: none;
  }
}

.c-home-hero__trailer-link-icon {
  margin: 0 0.5rem 0 0;
}


/* Background
========================================================================== */

.c-home-hero__video {

  position: absolute;
  width: auto;
  height: 120%;
  left: 0;
  object-fit: cover;
  filter: blur(4px);
}

.c-home-hero__rambo {

  @include clearfix;

  display: none;
  position: absolute !important;
  z-index: 4;
  bottom: 0;
  right:0;
  height:88%;
  width:100%;

  img {
    left:auto !important;
    right:0 !important;
    width:auto !important;
  }

  @include bp(small) {
    display: block;
  }

}

.c-home-hero__bg {

  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;

  /* Rambo */
  /*
  &:before {
    content: '';
    display: none;
    background: url('../assets/images/home_hero/hero_bg_small.png') bottom right no-repeat;
    background-size: contain;
    width: 100%;
    height: 88%;
    position: absolute;
    z-index: 4;
    bottom: 0;

    @include bp(small) {
      display: block;
    }

    @media #{bp(medium)}, (-webkit-min-device-pixel-ratio: 2) and #{bp(small)}, (min-resolution: 192dpi) and #{bp(small)} {
      background-image: url('../assets/images/home_hero/hero_bg_medium.png');
    }

    @media #{bp(xlarge)}, (-webkit-min-device-pixel-ratio: 2) and #{bp(medium)}, (min-resolution: 192dpi) and #{bp(medium)} {
      background-image: url('../assets/images/home_hero/hero_bg_xlarge.png');
    }
  }
  */

  /* Shadow */
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 10rem 8rem $color-dark-violet;
    background: rgba(4, 167, 247, 0.07);
    z-index: 3;
  }
}

.c-home-hero__bg-sec {

  /* Top shadow */
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 10.3125rem 7.5625rem -3.625rem #130d1c;
  z-index: 5;

  /* Bottom shadow */

  &:after {

    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 -8.875rem 5.8125rem -2.8125rem $color-dark-violet;
    z-index: 6;
  }

  /* Pattern */
  /*
  &:after {
    content: '';
    display: block;
    opacity: 1;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAD0lEQVQImWNgYmKayYAMAAjQAKCnXPTPAAAAAElFTkSuQmCC') repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
  } */
}
